// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Schedulin from "../../../index.js";

export declare namespace PlatformsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class PlatformsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<PlatformsClient.Options>;

    constructor(options: PlatformsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Per-platform posting requirements: caption length limits, media count/type rules, whether `platformConfiguration` is required, its JSON Schema when server-validated, and helper endpoints for fetching dynamic values (e.g. Pinterest boards). Platforms marked `comingSoon` cannot be posted to yet.
     *
     * @param {PlatformsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Schedulin.UnauthorizedError}
     * @throws {@link Schedulin.InternalServerError}
     *
     * @example
     *     await client.platforms.list()
     */
    public list(
        requestOptions?: PlatformsClient.RequestOptions,
    ): core.HttpResponsePromise<Schedulin.ListPlatformsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(requestOptions));
    }

    private async __list(
        requestOptions?: PlatformsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Schedulin.ListPlatformsResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SchedulinEnvironment.Default,
                "v0/platforms",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Schedulin.ListPlatformsResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new Schedulin.UnauthorizedError(
                        _response.error.body as Schedulin.ErrorResponse,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Schedulin.InternalServerError(
                        _response.error.body as Schedulin.ErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.SchedulinError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v0/platforms");
    }
}
