// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Schedulin from "../../../index.js";

export declare namespace SocialAccountsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class SocialAccountsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<SocialAccountsClient.Options>;

    constructor(options: SocialAccountsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Retrieve all connected social media accounts for the authenticated user
     *
     * @param {SocialAccountsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Schedulin.UnauthorizedError}
     * @throws {@link Schedulin.InternalServerError}
     *
     * @example
     *     await client.socialAccounts.list()
     */
    public list(
        requestOptions?: SocialAccountsClient.RequestOptions,
    ): core.HttpResponsePromise<Schedulin.ListSocialAccountsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(requestOptions));
    }

    private async __list(
        requestOptions?: SocialAccountsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Schedulin.ListSocialAccountsResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SchedulinEnvironment.Default,
                "v0/social-accounts",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Schedulin.ListSocialAccountsResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new Schedulin.UnauthorizedError(
                        _response.error.body as Schedulin.ErrorResponse,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Schedulin.InternalServerError(
                        _response.error.body as Schedulin.ErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.SchedulinError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v0/social-accounts");
    }

    /**
     * Update social media account settings and information
     *
     * @param {Schedulin.UpdateSocialAccountsRequest} request
     * @param {SocialAccountsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Schedulin.UnauthorizedError}
     * @throws {@link Schedulin.InternalServerError}
     *
     * @example
     *     await client.socialAccounts.update({
     *         id: "id"
     *     })
     */
    public update(
        request: Schedulin.UpdateSocialAccountsRequest,
        requestOptions?: SocialAccountsClient.RequestOptions,
    ): core.HttpResponsePromise<Schedulin.UpdateSocialAccountsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__update(request, requestOptions));
    }

    private async __update(
        request: Schedulin.UpdateSocialAccountsRequest,
        requestOptions?: SocialAccountsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Schedulin.UpdateSocialAccountsResponse>> {
        const { id, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SchedulinEnvironment.Default,
                `v0/social-accounts/${core.url.encodePathParam(id)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Schedulin.UpdateSocialAccountsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new Schedulin.UnauthorizedError(
                        _response.error.body as Schedulin.ErrorResponse,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Schedulin.InternalServerError(
                        _response.error.body as Schedulin.ErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.SchedulinError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "PUT", "/v0/social-accounts/{id}");
    }

    /**
     * Remove a connected social media account
     *
     * @param {Schedulin.DeleteSocialAccountsRequest} request
     * @param {SocialAccountsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Schedulin.UnauthorizedError}
     * @throws {@link Schedulin.InternalServerError}
     *
     * @example
     *     await client.socialAccounts.delete({
     *         id: "id"
     *     })
     */
    public delete(
        request: Schedulin.DeleteSocialAccountsRequest,
        requestOptions?: SocialAccountsClient.RequestOptions,
    ): core.HttpResponsePromise<Schedulin.DeleteSocialAccountsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: Schedulin.DeleteSocialAccountsRequest,
        requestOptions?: SocialAccountsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Schedulin.DeleteSocialAccountsResponse>> {
        const { id, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SchedulinEnvironment.Default,
                `v0/social-accounts/${core.url.encodePathParam(id)}`,
            ),
            method: "DELETE",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Schedulin.DeleteSocialAccountsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new Schedulin.UnauthorizedError(
                        _response.error.body as Schedulin.ErrorResponse,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Schedulin.InternalServerError(
                        _response.error.body as Schedulin.ErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.SchedulinError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "DELETE", "/v0/social-accounts/{id}");
    }

    /**
     * Set the IANA timezone (e.g. 'America/Los_Angeles') used to interpret queue times for this account.
     *
     * @param {Schedulin.UpdateTimezoneSocialAccountsRequest} request
     * @param {SocialAccountsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Schedulin.UnauthorizedError}
     * @throws {@link Schedulin.InternalServerError}
     *
     * @example
     *     await client.socialAccounts.updateTimezone({
     *         id: "id",
     *         timezone: "timezone"
     *     })
     */
    public updateTimezone(
        request: Schedulin.UpdateTimezoneSocialAccountsRequest,
        requestOptions?: SocialAccountsClient.RequestOptions,
    ): core.HttpResponsePromise<Schedulin.UpdateTimezoneSocialAccountsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__updateTimezone(request, requestOptions));
    }

    private async __updateTimezone(
        request: Schedulin.UpdateTimezoneSocialAccountsRequest,
        requestOptions?: SocialAccountsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Schedulin.UpdateTimezoneSocialAccountsResponse>> {
        const { id, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SchedulinEnvironment.Default,
                `v0/social-accounts/${core.url.encodePathParam(id)}/timezone`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Schedulin.UpdateTimezoneSocialAccountsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new Schedulin.UnauthorizedError(
                        _response.error.body as Schedulin.ErrorResponse,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Schedulin.InternalServerError(
                        _response.error.body as Schedulin.ErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.SchedulinError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/v0/social-accounts/{id}/timezone",
        );
    }

    /**
     * List the boards for a connected Pinterest account. Use a board id in `platformConfiguration.board_ids` when creating a Pinterest post.
     *
     * @param {Schedulin.PinterestBoardsSocialAccountsRequest} request
     * @param {SocialAccountsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Schedulin.UnauthorizedError}
     * @throws {@link Schedulin.InternalServerError}
     *
     * @example
     *     await client.socialAccounts.pinterestBoards({
     *         id: "id"
     *     })
     */
    public pinterestBoards(
        request: Schedulin.PinterestBoardsSocialAccountsRequest,
        requestOptions?: SocialAccountsClient.RequestOptions,
    ): core.HttpResponsePromise<Schedulin.PinterestBoardsSocialAccountsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__pinterestBoards(request, requestOptions));
    }

    private async __pinterestBoards(
        request: Schedulin.PinterestBoardsSocialAccountsRequest,
        requestOptions?: SocialAccountsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Schedulin.PinterestBoardsSocialAccountsResponse>> {
        const { id } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SchedulinEnvironment.Default,
                `v0/social-accounts/${core.url.encodePathParam(id)}/pinterest-boards`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Schedulin.PinterestBoardsSocialAccountsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new Schedulin.UnauthorizedError(
                        _response.error.body as Schedulin.ErrorResponse,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Schedulin.InternalServerError(
                        _response.error.body as Schedulin.ErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.SchedulinError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v0/social-accounts/{id}/pinterest-boards",
        );
    }

    /**
     * Fetch the privacy-level options, duration limits, and interaction settings for a connected TikTok account — required to build a valid `platformConfiguration` when creating a TikTok post.
     *
     * @param {Schedulin.TiktokCreatorInfoSocialAccountsRequest} request
     * @param {SocialAccountsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Schedulin.UnauthorizedError}
     * @throws {@link Schedulin.InternalServerError}
     *
     * @example
     *     await client.socialAccounts.tiktokCreatorInfo({
     *         id: "id"
     *     })
     */
    public tiktokCreatorInfo(
        request: Schedulin.TiktokCreatorInfoSocialAccountsRequest,
        requestOptions?: SocialAccountsClient.RequestOptions,
    ): core.HttpResponsePromise<Schedulin.TiktokCreatorInfoSocialAccountsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__tiktokCreatorInfo(request, requestOptions));
    }

    private async __tiktokCreatorInfo(
        request: Schedulin.TiktokCreatorInfoSocialAccountsRequest,
        requestOptions?: SocialAccountsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Schedulin.TiktokCreatorInfoSocialAccountsResponse>> {
        const { id } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SchedulinEnvironment.Default,
                `v0/social-accounts/${core.url.encodePathParam(id)}/tiktok-creator-info`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Schedulin.TiktokCreatorInfoSocialAccountsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new Schedulin.UnauthorizedError(
                        _response.error.body as Schedulin.ErrorResponse,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Schedulin.InternalServerError(
                        _response.error.body as Schedulin.ErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.SchedulinError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v0/social-accounts/{id}/tiktok-creator-info",
        );
    }
}
