// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { mergeAdditionalBodyParameters } from "../../../../core/requestBody.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Schedulin from "../../../index.js";

export declare namespace AiClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class AiClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<AiClient.Options>;

    constructor(options: AiClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Submit an AI image generation job
     *
     * @param {Schedulin.GenerateImageAiRequest} request
     * @param {AiClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Schedulin.BadRequestError}
     * @throws {@link Schedulin.UnauthorizedError}
     * @throws {@link Schedulin.ForbiddenError}
     * @throws {@link Schedulin.ConflictError}
     * @throws {@link Schedulin.UnprocessableEntityError}
     * @throws {@link Schedulin.TooManyRequestsError}
     * @throws {@link Schedulin.InternalServerError}
     * @throws {@link errors.SchedulinError}
     * @throws {@link errors.SchedulinTimeoutError}
     *
     * @example
     *     await client.ai.generateImage({
     *         prompt: "prompt"
     *     })
     */
    public generateImage(
        request: Schedulin.GenerateImageAiRequest,
        requestOptions?: AiClient.RequestOptions,
    ): core.HttpResponsePromise<Schedulin.GenerateImageAiResponse> {
        return core.HttpResponsePromise.fromPromise(this.__generateImage(request, requestOptions));
    }

    private async __generateImage(
        request: Schedulin.GenerateImageAiRequest,
        requestOptions?: AiClient.RequestOptions,
    ): Promise<core.WithRawResponse<Schedulin.GenerateImageAiResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SchedulinEnvironment.Default,
                "v0/studio/generateImage",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(request, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Schedulin.GenerateImageAiResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Schedulin.BadRequestError(
                        _response.error.body as Schedulin.ErrorResponse,
                        _response.rawResponse,
                    );
                case 401:
                    throw new Schedulin.UnauthorizedError(
                        _response.error.body as Schedulin.ErrorResponse,
                        _response.rawResponse,
                    );
                case 403:
                    throw new Schedulin.ForbiddenError(
                        _response.error.body as Schedulin.ErrorResponse,
                        _response.rawResponse,
                    );
                case 409:
                    throw new Schedulin.ConflictError(
                        _response.error.body as Schedulin.ErrorResponse,
                        _response.rawResponse,
                    );
                case 422:
                    throw new Schedulin.UnprocessableEntityError(
                        _response.error.body as Schedulin.ValidationErrorResponse,
                        _response.rawResponse,
                    );
                case 429:
                    throw new Schedulin.TooManyRequestsError(
                        _response.error.body as Schedulin.RateLimitErrorResponse,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Schedulin.InternalServerError(
                        _response.error.body as Schedulin.ErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.SchedulinError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v0/studio/generateImage");
    }

    /**
     * Get the status and details of a generation job
     *
     * @param {Schedulin.GetGenerationAiRequest} request
     * @param {AiClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Schedulin.BadRequestError}
     * @throws {@link Schedulin.UnauthorizedError}
     * @throws {@link Schedulin.ForbiddenError}
     * @throws {@link Schedulin.NotFoundError}
     * @throws {@link Schedulin.UnprocessableEntityError}
     * @throws {@link Schedulin.TooManyRequestsError}
     * @throws {@link Schedulin.InternalServerError}
     * @throws {@link errors.SchedulinError}
     * @throws {@link errors.SchedulinTimeoutError}
     *
     * @example
     *     await client.ai.getGeneration({
     *         id: "id"
     *     })
     */
    public getGeneration(
        request: Schedulin.GetGenerationAiRequest,
        requestOptions?: AiClient.RequestOptions,
    ): core.HttpResponsePromise<Schedulin.AiGeneration> {
        return core.HttpResponsePromise.fromPromise(this.__getGeneration(request, requestOptions));
    }

    private async __getGeneration(
        request: Schedulin.GetGenerationAiRequest,
        requestOptions?: AiClient.RequestOptions,
    ): Promise<core.WithRawResponse<Schedulin.AiGeneration>> {
        const { id } = request;
        const _queryParams: Record<string, unknown> = {
            id,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SchedulinEnvironment.Default,
                "v0/studio/getGeneration",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Schedulin.AiGeneration, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Schedulin.BadRequestError(
                        _response.error.body as Schedulin.ErrorResponse,
                        _response.rawResponse,
                    );
                case 401:
                    throw new Schedulin.UnauthorizedError(
                        _response.error.body as Schedulin.ErrorResponse,
                        _response.rawResponse,
                    );
                case 403:
                    throw new Schedulin.ForbiddenError(
                        _response.error.body as Schedulin.ErrorResponse,
                        _response.rawResponse,
                    );
                case 404:
                    throw new Schedulin.NotFoundError(
                        _response.error.body as Schedulin.ErrorResponse,
                        _response.rawResponse,
                    );
                case 422:
                    throw new Schedulin.UnprocessableEntityError(
                        _response.error.body as Schedulin.ValidationErrorResponse,
                        _response.rawResponse,
                    );
                case 429:
                    throw new Schedulin.TooManyRequestsError(
                        _response.error.body as Schedulin.RateLimitErrorResponse,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Schedulin.InternalServerError(
                        _response.error.body as Schedulin.ErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.SchedulinError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v0/studio/getGeneration");
    }
}
